@font-face {
  font-family: "Antro Vectra";
  src: url("./fonts/AntroVectra/AntroVectra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Antro Vectra";
  src: url("./fonts/AntroVectra/AntroVectra-Bolder.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  background-color: #c1c1c1;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 25px;
  font-weight: 300;
  word-spacing: 70%;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0 10px;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px 0 10px;
}

div.border {
  margin: 20px 0 30px;
  height: 10px;
  width: 150px;
  border-bottom: 3px solid #414141;
}

div.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 35px 40px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 20px;
}
header div.logo {
  margin: 0 auto;
  width: 400px;
  font-family: "Antro Vectra";
  font-size: 3em;
  text-align: center;
  word-spacing: 70%;
}

menu {
  margin: 0 auto 60px;
  max-width: 800px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
menu a {
  background-color: #2d2d2d;
  opacity: 86%;
  border-radius: 0;
  border-width: 0;
  height: 40px;
  width: 220px;
  margin: 10px;
  color: #bfbfbf;
  text-align: center;
  padding-top: 10px;
}

section.about div.container {
  padding-bottom: 50px;
  background-image: url("./images/portraits/Sense-of-apathy.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
section.about p {
  color: #414141;
  width: 50%;
}
section.about .client-list {
  font-size: 18px;
}

.gallery button {
  background-color: transparent;
  border: none;
  margin: 7px;
}
.gallery img {
  width: 100%;
}

div.row-of-three {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

div.row-of-two {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

div.column-of-two {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.portraits {
  background-color: #2d2d2d;
}
section.portraits img.title {
  float: right;
  padding: 30px 0;
}

section.war {
  background-color: #16120f;
}
section.war div.container {
  color: #bfbfbf;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  max-width: 900px;
}
section.war div.border {
  border-color: #585656;
}
section.war button {
  margin-right: 30px;
}
section.war p {
  display: inline-block;
  white-space: wrap;
  margin-top: 200px;
  max-width: 480px;
}

section.book {
  background-color: #c0c0c0;
}
section.book div.container {
  background-image: url("./images/book.png");
  background-size: auto 135%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 800px;
}
section.book h2 {
  text-align: center;
  font-size: 30px;
}
section.book a {
  position: relative;
  top: 500px;
  left: calc(50% - 20px);
}

section.interior {
  background-color: #c0c0c0;
}
footer {
  background-color: #c0c0c0;
  padding-top: 50px;
}
footer div.container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
footer div.logo {
  margin: 0 auto;
  width: 400px;
  font-family: "Antro Vectra";
  font-size: 3.3em;
  text-align: center;
  margin-bottom: 7px;
}
footer p {
  text-align: center;
  font-size: 18px;
}
footer div.icon {
  padding: 30px 0;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

button.art {
  padding: 0;
}
button.art:hover {
  cursor: zoom-in;
  box-shadow: 0px 15px 20px rgba(67, 73, 71, 0.4);
  transform: translateY(-3px);
}

div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 192, 192, 0.2509803922);
}
div.modal div {
  margin: 20px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
div.modal button {
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color: #2d2d2d;
  border-radius: 0;
  border-width: 0;
  height: 50px;
  color: #bfbfbf;
  text-align: center;
  text-transform: uppercase;
}
div.modal img {
  max-height: calc(100vh - 100px);
  max-width: 100vh;
}

button.up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: transparent;
  border-radius: 50%;
}/*# sourceMappingURL=index.css.map */