@font-face {
  font-family: 'Antro Vectra';
  src: url('../fonts/AntroVectra/AntroVectra.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antro Vectra';
  src: url('../fonts/AntroVectra/AntroVectra-Bolder.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// @mixin key_frame($name, $duration, $count) {
@mixin key_frame() {
  @keyframes noDoubtBadger {
    0%   {content: ' ';}
    10%   {content: 'n';}
    14%   {content: 'no';}
    18%   {content: 'no ';}
    21%   {content: 'no d';}
    28%   {content: 'no do';}
    35%   {content: 'no dou';}
    42%   {content: 'no doub';}
    49%   {content: 'no doubt';}
    56%   {content: 'no doubt ';}
    63%   {content: 'no doubt b';}
    70%   {content: 'no doubt ba';}
    77%   {content: 'no doubt bad';}
    82%   {content: 'no doubt badg';}
    89%   {content: 'no doubt badge';}
    96%   {content: 'no doubt badger';}
    100%   {content: 'no doubt badger';}
  }

  animation-name: noDoubtBadger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}




$humanableWhite: #c0c0c0;
$humanableWhiteTransparent: #c0c0c040;
$creamyWhite: #c1c1c1;
$borderGray: #414141;
$darkGray: #2d2d2d;
$humanableBlack: #16120f;
$humanableBlackTransparent: #16120fb0;
$borderLightGray: #585656;
$borderLightGray86: #58565686;
$shadowGrey: rgba(67, 73, 71, 0.4);

body {
  background-color: $creamyWhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 25px;
  font-weight: 300;
  word-spacing: 70%;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0 10px;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px 0 10px;
}

div.border {
  margin: 20px 0 30px;
  height: 10px;
  width: 150px;
  border-bottom: 3px solid $borderGray;
}

div.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 35px 40px;
  min-width: 900px;
}

div.logo {
  margin: 0 auto;
  font-family: 'Antro Vectra';
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  padding-top: 60px;
  padding-bottom: 20px ;
  
  div.logo {
    width: 400px;
    font-size: 3em;
    word-spacing: 70%;
  }
}

// section 1

menu {
  margin: 0 auto 60px;
  max-width: 800px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
  a {
    background-color: $darkGray;
    opacity: 86%;
    border-radius: 0;
    border-width: 0;
    height: 40px;
    width: 220px;
    margin: 10px;
    color: #bfbfbf;
    text-align: center;
    padding-top: 10px;
  }
}

section.about {
  div.container {
    padding-bottom: 50px;
    background-image: url('../images/Sense-of-apathy.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  
  p {
    color:$borderGray;
    width: 50%;
  }
  
  .client-list {
    font-size: 18px;
  }
}

//gallery

.gallery {
  
  .art {
    background-color: transparent;
    border: none;
    margin: 7px;
  }

  img {
    width: 100%;
  }
  
}

div.row-of-three {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

div.row-of-two {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;

}

div.column-of-two {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// section 2

section.portraits {
  background-color: $darkGray;
  
  div.title {
    float: right;
    padding: 30px 0;
    font-family: 'Antro Vectra';
    color: #696868;
    font-weight: bold;
    font-size: 1.5em;
  }
}

section.book {
  background-color: $humanableWhite;
  
  div.container {
    background-image: url('../images/book.png');
    background-size: auto 135%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  h2 {
    text-align: center;
    font-size: 4em;
    font-family: 'Antro Vectra';
    text-transform: none;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 1em;
  }

  p {
    font-size: 2em;
    text-align: center;
  }
  
  a {
    margin-top: auto;
    font-weight: 600;
    font-size: 2em;
  }
}

section.interior {
  background-color: $humanableWhite;
}


footer {
  background-color: $humanableWhite;
  padding-top: 50px;
  
  div.container {
    width: fit-content;
    margin: 0 auto;
  }
  
  div.logo {
    width: 400px;
    font-size: 3.3em;
    margin-bottom: 7px;
  }
  
  p {
    text-align: center;
    font-size: 18px;
  }
  
  div.icon {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 300px;
  }
  
  a {
    height: 30px;
  }
}

button.art {
  padding: 0;

  &:hover {    
    cursor: zoom-in;
    box-shadow: 0px 15px 20px $shadowGrey;
    transform: translateY(-3px);
  }
}

div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: $humanableBlackTransparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  div {
    width: fit-content;
    max-width: 100%;
  }
  
  .modal-content {
    display: none;
  }

  .modal-loader {
    display: block;
    color: $humanableWhite;
    width: 400px;
    
    div.logo {
      margin: 0 0;
      
      &::after {
      content: "";
      height: 20px;
      font-size: 3.3em;
      @include key_frame();
      text-align: left;
      }
    }
    
    
  }
  
  button {
    margin-top: 10px;
    display: block;
    width: 100%;
    background-color: $darkGray;
    border-radius: 0;
    border-width: 0;
    height: 50px;
    color: #bfbfbf;
    text-align: center;
    text-transform: uppercase;
  }
  
  img {
    max-height: calc(100vh - 100px);
    max-width:100vw;
  }
}

button.up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: transparent;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

section.slider-container {
  background-color: $darkGray;
  padding: 50px 0;
  
  div.container {
  position: relative;
  width: 900px;
  height: 500px;
  padding: 0;
  border: 6px solid $borderLightGray86;
  
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 900px 100%;
    
  }
  .background-img {
    background-image: url('../images/day.jpg');
  }
  .foreground-img {
    background-image: url('../images/night.jpg');
    width: 50%;
  }
  
  .slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    margin: 0;
    transition: all .1s;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 6px;
      height: calc(500px - 2px);
      background: $borderLightGray86;
      cursor: pointer;
      border-color: transparent;
      border-radius: 0;
    }
    &::-moz-range-thumb {
      width: 6px;
      height: calc(500px - 2px);
      border-color: transparent;
      border-radius: 0;
    
      background: $borderLightGray86;
      cursor: pointer;
    }
  }
  
  .slider-button {
    $size: 30px;
    pointer-events: none;
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: $borderLightGray;
    left: calc(50% - 19px);
    top: calc(50% - 18px);    
    display: flex;
    justify-content: center;
    align-items: center;
    
    @mixin arrow-helper() {
      content: '';
      padding: 3px;
      display: inline-block;
      border: solid $creamyWhite;
      border-width: 0 2px 2px 0;
    }
    &:after {
      @include arrow-helper();
      transform: rotate(-45deg);
    }
    &:before {
      @include arrow-helper();
      transform: rotate(135deg);
    }
  }
}
}
